{% extends "blog/base.html" %}
{% block content %}
    <div class="w-full mx-auto mb-3">
        <h1 class="text-2xl mb-3">Pacientes</h1>
        <a href="{% url 'new-patient' %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Add new</a>
    </div>
        <table class="table-auto">
            <thead>
            <tr>
                <th class="px-4 py-2">ID</th>
                <th class="px-4 py-2">Name</th>
                <th class="px-4 py-2">Lastname</th>
                <th class="px-4 py-2">Date</th>
                <th class="px-4 py-2">Created by</th>
                <th class="px-4 py-2">State</th>
                <th class="px-4 py-2">City</th>
            </tr>
            </thead>
            <tbody>
            {% for patient in patients %}
                <tr>
                    <td class="border px-4 py-2">{{ patient.id }}</td>
                    <td class="border px-4 py-2">{{ patient.first_name }}</td>
                    <td class="border px-4 py-2">{{ patient.last_name }}</td>
                    <td class="border px-4 py-2">{{ patient.date_posted }}</td>
                    <td class="border px-4 py-2">{{ patient.created_by.first_name }} {{patient.created_by.last_name}}</td>
                    <td class="border px-4 py-2">{{ patient.location.provincia.name }}</td>
                    <td class="border px-4 py-2">{{ patient.location.name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}