{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

       <div class="flex">
            <div class="w-1/5">
                <img class="mb-3" src="{{ user.profile.image.url }}" alt="">
                <div>
                    <h1 class="capitalize">{{ user.first_name }} {{ user.last_name }}</h1>
                    <span>{{ user.email }}</span>
                </div>
            </div>
       </div>
       <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h1 class="mb-3 font-bold">Profile info</h1>
        <fieldset class="">
            {{ u_form|crispy }}
            {{ p_form|crispy }}
        </fieldset>
        <div class="">
            <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">Submit</button>
        </div>
    </form>
    
{% endblock content %}